div.error label {
	color: #B94A48;
}

div.error input,div.error select,div.error textarea {
	border-color: #B94A48;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

div.error input:focus,div.error select:focus,div.error textarea:focus {
	border-color: #953B39;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}

span.required {
	color: red;
	padding-left: 3px;
}

textarea {
	resize: none;
}

ul.submenus {
	list-style: none;
	margin: 0;
}

ul.submenus li {
	margin-bottom: -1px;
}

ul.submenus li a {
	display: block;
	padding: 8px 12px;
	border: 1px solid #ddd;
	background-color: #F5F5F5;
}

ul.submenus li a:hover {
	text-decoration: none;
	background-color: #FFF;
}

/* Carousel base class */
.carousel {
	margin-bottom: 30px;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 500px;
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 780px;
	padding: 0 20px;
	margin-top: 200px;
}

.carousel-caption h1,.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption .btn {
	margin-top: 10px;
}

/* datatable css */
div.dataTables_length label {
	width: 460px;
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
	width: 460px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin: 1em 0;
	clear: both;
}

th input, th select {
	width: 85% !important;
}

div.dataTables_filter {
	display: none;
}

div.dataTables_processing {
	display:none;
}